#tweets {
  margin: 1em;
}

.tweet {
  padding: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 10px;
  background-color: #fdfdfd;
}

.profile-image {
  overflow: hidden;
  float: left;
  padding: .5em;
}

.names, .contents {
  margin-left: 60px;
  padding: .5em;
}

.names {
  font-weight: bold;
}

.contents {
  color: #333;
}
